body{
    --defaultMargin: 100px;
    margin-left: var(--defaultMargin);
    margin-right: var(--defaultMargin);
    background-color: #000;
    color: white;
    font-family: Montserrat;
}

.header__container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-top: 50px
    
}
.header__logo{
    display: flex;
    flex-grow: 1;
}
.header__login{
    display: flex;
    flex-grow: 4;
}

.FontMainOne{
    color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 70px;
}